* {
  margin: 0 5px 0 0;
}
  body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
 
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #087be8;
    color: #fff;

  }
  .abox {
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: 150px;
    background-color: aquamarine;
  }
  .bbox {
    min-width: 600px;
    min-height: 600px;
    background-color: rgb(94, 235, 7);

  }
  .cbox {
    min-width: 600px;
    min-height: 600px;
    background-color: rgb(178, 235, 7);
  }
  .dbox {
    min-width: 600px;
    min-height: 600px;
    background-color: rgb(235, 125, 7);
  }
  .ebox {
    min-width: 600px;
    min-height: 600px;
    background-color: rgb(235, 7, 220);
  }